:root {
    --white1: #FFFFFF;
    --white2: #FAFAFA;
    --white3: #FFF5F4;
    --red1: #EC362D;
    --red2: #FF0B0B;
    --gray1: #B9B9B9;
    --gray2: #484848;
    --gray3: #818181;
    --gray4: #D1D1D1;
    --gray5: #BABABA;
    --green1: #009C22;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
.topo{
    background-color: var(--red1);
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
    background-color:var(--white2);
    

}