.container-lista-quizz{
  
    margin-bottom: 50px;
   
}
.criaçao-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1050px;
    height: 180px;
    margin-top: 77px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}
.criaçao-quizz p{
    width: 250px;
    text-align: center;
    color: var(--gray1);
}
.botao-criar-quizz{
    font-size: 21px;
    margin-top: 20px;
    background-color:var(--white2);
    width: 150px;
    height: 40px;
    color: var(--red1);
    border: 1px dashed red;
    border-radius: 50px;
}

.titulo-todos-quizzes{
    width: 1050px;
    height: 23px;
    margin-top: 77px;
    

}
.caixa-quizzes{
    margin-top: 12px;
    width: 1050px;
    height: 181px;
    display: flex;
    justify-content: space-between;

}
.quizz{
    
    width: 340px;
    height: 181px;
}