.container-lista-quizz {
    margin-bottom: 50px;
    width: 1050px;
}

.titulo-seus-quizzes {
    width: 100%;
    height: 23px;
    margin-top: 77px;
    display: flex;
    align-items: center;

}

.titulo-seus-quizzes ion-icon {
    color: var(--red1);
    margin-left: 10px;
    font-size: 30px;
}

.caixa-seus-quizzes {
    margin-top: 12px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.titulo-todos-quizzes {
    width: 100%;
    height: 23px;
    margin-top: 77px;

}

.criaçao-quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 180px;
    margin-top: 77px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.criaçao-quizz p {
    width: 250px;
    text-align: center;
    color: var(--gray1);
    font-size: 19px;
}

.botao-criar-quizz {
    font-size: 21px;
    margin-top: 20px;
    background-color: var(--white2);
    width: 150px;
    height: 40px;
    color: var(--red1);
    border: 1px dashed red;
    border-radius: 50px;
}

.titulo-todos-quizzes {
    width: 100%;
    height: 23px;
    margin-top: 77px;
}

.caixa-quizzes {
    margin-top: 12px;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.caixa-quizzes img {
    object-fit: cover;
    width: 100%;
    height: 100%;


}

.quizz h2 {
    width: 300px;
    font-size: 19px;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--white1);

}

.quizz {
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .caixa-quizzes {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .caixa-seus-quizzes {
        grid-template-columns: 1fr 1fr;
    }

    .quizz {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .quizz img {
        max-width: 100%;
        object-fit: cover;
    }

    .container-lista-quizz {
        width: 100%;
    }

    .criaçao-quizz {
        width: 100%;
    }

    .container-lista-quizz {
        padding: 18px;
    }
}

@media (max-width: 740px) {
    .caixa-quizzes {
        grid-template-columns: 1fr;
    }

    .caixa-seus-quizzes {
        grid-template-columns: 1fr;
    }
}