.college-image {
    width: 100%;
    max-height: 227px;
    object-fit: cover;
    filter: brightness(43%)
}

.quizz-header {
    height: 227px;
    position: relative;
    margin-bottom: 42px;
}

.quizz-title {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    font-weight: 400;
    z-index: 1000;
    color: var(--white1);

}

.container-quizz {
    width: 760px;
    height: 100%;
    margin-bottom: 85px;
    background-color: var(--white2);
}


.wrapper-quizz {
    width: 100%;
    max-height: 676px;
    background-color: var(--white1);
    margin-bottom: 46px;
}

.quizz-answer {
    cursor: pointer;
}

.wrapper-quizz>h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 137px;
    color: var(--white1);
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 16px;
    word-break: break-all;

}

.group-image {
    display: grid;
    padding: 28px 36px 36px 36px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: var(--white1);
}

.quizz-img-wrapper {
    max-width: 329px;
    max-height: 175px;
}

.group-image img {
    width: 100%;
    max-height: 175px;
    object-fit: cover;
}

.result-quizz-title {
    background-color: var(--red1);
    color: var(--white1);
}

.group-image h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 13px 0 22px 0;
    width: 330px;
    word-break: break-all;
}

.info-about-quizz {
    display: flex;
    padding: 28px 36px 36px 36px;
}

.info-about-quizz img {
    max-width: 364px;
    margin-right: 21px;

}

.info-about-quizz p {
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.56em;
}

.quizz-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 760px) {
    .college-image {
        height: 375px;
    }

    .container {
        width: 100%;
    }

    .container-quizz {
        width: 100%;
    }

    .quizz-answer {
        width: 100%;
    }

    .wrapper-quizz>h2 {
        text-align: center;
    }


    .quizz-img-wrapper img {
        width: 100%;
    }

    .group-image img {
        width: 100%;
        height: 100%;
    }

    .group-image h3 {
        width: 100%;
    }

    .info-about-quizz {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .info-about-quizz img {
        width: 100%;
        height: 255px;
        margin-bottom: 10px;
    }

    .info-about-quizz p {
        text-align: center;
        font-size: 1em;
        line-height: 1.25em;
    }

    .quizz-title {
        font-size: 19px;
        line-height: 22px;
    }
}